export(print.multicca, print.multiccaperm, MultiCCA, MultiCCA.permute, PMD, PMD.cv, SPC.cv, print.spccv, plot.spccv, SPC, print.spc, print.cca, print.ccaperm,CCA,CCA.permute, print.pmdl1fl, print.pmdl1flcv,print.pmdl1l1, print.pmdl1l1cv,PlotCGH, plot.pmdl1l1cv, plot.pmdl1flcv,plot.ccaperm, plot.multiccaperm,  cor.xl.LoadData, cor.xl.RunAnalysis, cor.xl.Plot1, cor.xl.Plot2, cor.xl.Plot3,cor.xl.Plot2a,cor.xl.Plot2b,cor.xl.Plot3a,cor.xl.Plot3b)
